<div class="row justify-content-md-center panel-content">

    <div class="row painel">

        <div class="painel-form">
            <mat-icon class="painel-icon" aria-hidden="false">insert_drive_file</mat-icon>

            <h5 class="painel-title">INFORMAÇÕES RECEBIDAS!</h5>
            <div class="painel-description">
                <p> Em até 48h daremos um retorno sobre a abertura de sua conta. </p>
                <p> Para receber nossas recomendações de investimentos e começar a investir, precisamos conhecer seu perfil de investidor. </p>
                <p> São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos. </p>
                <p class="painel-description-fourth">Gostaria de responder ao Perfil do investidor?</p>
        </div>

        <div class="painel-button">
            <button mat-stroked-button (click)="clickTermoNao()" class="painel-button-stroked" color="accent">NÃO</button>
            <button mat-stroked-button (click)="clickTermoSim()"class="painel-button-stroked" color="accent">SIM</button>
        </div>   
    </div>
</div>