.dialog {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.dialog-title {
    font-weight: bold;
    text-align: center;
    color: rgb(167, 45, 66);
}

.dialog-description {
    padding: 5px;
}

.dialog-radio {
    text-align: center;
    padding: 5px;
    border-top: 1px dashed #e5e5e5;
}

.dialog-button {
    text-align: center;
    padding: 5px;
}

.dialog-button-color {
        background-color: orange;
        color: white;
}
